.welcome {
    background-image: radial-gradient(ellipse, $color-light, $color-dark);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        color: $color-white;
        text-align: center;
        font-size: 3.5rem;
    }

    &__description {
        padding: 1.5rem;
        font-size: 1.5rem;
        text-align: center;
    }

    &__button:link,
    &__button:visited {
        display: inline-block;
        text-decoration: none;
        color: $color-white;
        font-size: 1.6rem;
        transition: all .2s;
        padding: .5rem 2rem;
        border: 0.05rem solid $color-white;
        border-radius: 1rem;
        background-color: $color-button;
    }

    &__button:hover,
    &__button:active {
        transform: scale(1.01);
        box-shadow: 0 1rem 2rem rgba($color-black, .1);
    }
}

.continue {
    padding: 2rem;
    font-size: 1.4rem;
}

.heading__secondary {
    color: $color-dark;
}