extends _component/layout/base

block config
    -
        const title = "Welcome to Quick Blog";
        const description = "Using super Quick Blog is wasy and you can get 100/100 score on Google pagespeed insights";

block content
    #welcome
    .welcome
        h1.welcome__title=title
        p.welcome__description=description
        a.welcome__button(href="#continue") Click to continue, reading or scroll down &nbsp; &#8675

    
    #continue
    .continue
        h2.heading__secondary Let's write some content
        p 
            | The source of Quick Blog can be found at #[a(href="#", target="_blank") Quick Blog].

        blockquote.blockquote
            .blockquote__body
                p You don't have to bee good to start, you have to start to become good.
            .blockquote__footer
                a(href="#", target="_blank") Iulian Carnaru

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati sit dicta dolorem, qui dolorum ducimus delectus consequatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aliquam labore enim exercitationem explicabo similique eaque, placeat maiores alias amet, odit doloribus! Eos velit quisquam sunt voluptatem. Obcaecati, itaque ipsam.

        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis qui laboriosam libero sequi quo, placeat blanditiis mollitia alias ad vitae delectus, sint repudiandae voluptatem dolorem perferendis molestias? Vel, soluta sint. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel quaerat incidunt doloribus eligendi ipsum ex et quisquam impedit cupiditate necessitatibus? Rem aliquid iure totam harum, repellat doloremque suscipit corrupti laboriosam.

        .top-link
            a(href="#welcome") Top &#8673;