extends _component/layout/base

block config
    -
        const title = "Welcome to Quick Blog";
        const description = "Using super Quick Blog is wasy and you can get 100/100 score on Google pagespeed insights";

block content
    .welcome
        h1.welcome__title=title
        p.welcome__description=description
        a.welcome__button(href="#continue") Click to continue, reading or scroll down &nbsp; &#8675

    
    #continue
    .continue
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum perferendis repellendus neque itaque! Incidunt, perferendis cupiditate alias cum rerum soluta aperiam harum. Corrupti obcaecati veniam optio similique vel sed. Voluptas. Lorem ipsum dolor sit amet consectetur adipisicing elit.

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati sit dicta dolorem, qui dolorum ducimus delectus consequatur ad alias, cum temporibus corporis deserunt vel numquam nam officia eaque assumenda vero.

        p   Lorem ipsum dolor sit amet consectetur adipisicing elit. A tenetur eligendi maxime, cumque minima voluptas non asperiores aliquid quia, nemo deleniti temporibus fuga itaque praesentium amet tempora delectus quae sapiente. Lorem ipsum dolor sit, amet consectetur adipisicing elit.